---
- name: Get Tenable deb
  ansible.builtin.get_url:
    url: "https://www.tenable.com/downloads/api/v1/public/pages/nessus-agents/downloads/26428/download?i_agree_to_tenable_license_agreement=true"
    checksum: "sha256:ea53f738eb77ba08339993e5980e1e952b3e511865997737068d466e34fda427"
    dest: "{{ansible_facts.user_dir}}/nessus_agent.deb"

- name: Install Tenable agent
  ansible.builtin.apt:
    deb: "{{ansible_facts.user_dir}}/nessus_agent.deb"

- name: Copy Tenable config
  ansible.builtin.template:
    mode: 0555
    dest: "/opt/nessus_agent/var/nessus/config.json"
    src: templates/config.json.j2

- name: Link agent using CLI
  ansible.builtin.command: "/opt/nessus_agent/sbin/nessuscli agent link --cloud --key={{tenable_key}} --groups={{tenable_groups}}"

- name: Restart Nessus Agent Service
  ansible.builtin.systemd_service:
    name: "nessusagent.service"
    enabled: true
    state: "restarted"

