/* Indexing eQTL collection to cover all API queries 
 *   BRAVO database needs to be specified at the command line 
 */

let cpra_idx    = {'chrom': 1, 'pos': 1}
let pheno_idx   = {'phenotype_id': 1}
let var_idx     = {'variant_id': 1}
let credset_idx = {'tissue': 1, 'phenotype_id': 1, 'cs_id': 1}

db.{{collection_name}}.createIndex(cpra_idx)
db.{{collection_name}}.createIndex(pheno_idx)
db.{{collection_name}}.createIndex(var_idx)
db.{{collection_name}}.createIndex(credset_idx, {'name': 'credset_idx'})
