/* Merging an indicator of which SNVs also appear in the eQTL collection. 
 *   Facilitates the display and highlighting of which snvs are also eqtls.
 *   BRAVO database needs to be specified at the command line.
 *
 * Writes a .lock file to indicate that merge has been run.
 */


/***************
* Safety Check *
***************/
if(!db.getCollectionNames().includes("{{collection_name}}")){
  console.error(`In DB, ${db.getName()}, did NOT find collection {{collection_name}}.`)
  quit(1)
}

console.log(`In DB, ${db.getName()}, found collection {{collection_name}}.`)

/*****************************
* Index to facilitate lookup *
*****************************/
console.log("creating indexes")
db.snv.createIndex({variant_id: 1})
db.{{collection_name}}.createIndex({variant_id: 1})

/*************************
* Define Update Pipeline *
*************************/
// limit amount of data from snv documents being handled
let pProjectInit = {$project: {variant_id: 1}}

// look up corresponding eqtl documents
let pLookup = {$lookup: {from: "{{collection_name}}", localField: "variant_id", foreignField: "variant_id", as: "eqtls"}}

// match only snvs that have eqtls
let pMatch  = {$match: {"eqtls": {$ne: []}}}

// trim results to only fields required
let pProjectFinal = {$project: {is_eqtl: {$literal: true}}}

// merge stage to write data back to snv collection
let pMerge = {$merge: {into: "snv", on: "_id", whenMatched: "merge"}}

// Combine to form pipeline specification
let pipeline = [pProjectInit, pLookup, pMatch, pProjectFinal, pMerge]

/*************************
* Execute Update Pipeline *
*************************/
db.snv.aggregate(pipeline)

/***************************************
* Write Lockfile Indicating Completion *
***************************************/
const fs = require('fs')
let completionTime = new Date()
fs.writeFileSync("{{base_dir}}/eqtl_merge.lock", completionTime.toString())
