{
  "link": {
    "name": "{{tenable_source_name}}",
    "host": "cloud.tenable.com",
    "port": 443,
    "key": "{{tenable_key}}",
    "groups": "{{tenable_groups}}"
  },
  "preferences": {
    "disable_core_updates": "yes",
		"logfile_max_size": 256
  }
}
