import os.path

MONGO_URI = 'mongodb://{{mongo_ip}}:27017/bravo'  # mongodb://<host>:<port>/<database>
BRAVO_API_PAGE_LIMIT = 10000
GZIP_COMPRESSION = True

# Base directory for data on disk (e.g. /var/local/bravo/data)
BASE_DIR = "{{base_dir}}/data"

# Directory or s3 coverage_url with coverage files
{% if coverage_url is defined and coverage_url|length %}
COVERAGE_DIR = "{{coverage_url}}"
{% else %}
COVERAGE_DIR = "{{base_dir}}/data/runtime/coverage/"
{% endif %}

# Directory containing variant map and sequences/ dir
#  Contained sequences dir expected to have with CRAM files

# Directory or s3 with cram files
{% if sequences_url is defined and sequences_url|length %}
SEQUENCES_DIR = "{{sequences_url}}"
{% else %}
SEQUENCES_DIR = "{{base_dir}}/data/runtime/crams/"
{% endif %}

# Directory for the runtime cached BAM/CRAM files
SEQUENCES_CACHE_DIR = "{{base_dir}}/data/runtime/cache/"

# Path to reference sequence for cram files.  Assumes corresponding .fai exists next to .fa file
REFERENCE_SEQUENCE = "{{base_dir}}/data/runtime/reference/hs38DH.fa"

# Directory for public vcfs
{% if sequences_url is defined and sequences_url|length %}
PUBVCFS_DIR = "{{pubvcfs_url}}"
{% endif %}


# Optional configuration
{% if gauth_client_secret is defined and gauth_client_secret|length %}
LOGIN_DISABLED = False
{% else %}
LOGIN_DISABLED = True
{% endif %}
SESSION_SECRET = b'{{lookup('community.general.random_string',length=24,special=false)}}'
CORS_ORIGINS = {{cors_origins}}

# Config for using Google OAuth
GOOGLE_CLIENT_ID = "{{gauth_client_id | default('')}}"
GOOGLE_CLIENT_SECRET = "{{gauth_client_secret | default('')}}"
GOOGLE_DISCOVERY_URL = "https://accounts.google.com/.well-known/openid-configuration"

# Config for limiting user access to users from a single domain
{% if sequences_url is defined and sequences_url|length %}
USER_DOMAIN_PERMITTED = "{{user_domain_permitted | default('')}}"
{% endif %}
