[Unit]
Description=HTSLIB S3 CREDENTIALS

[Service]
Type=simple

User=ubuntu
Group=ubuntu

WorkingDirectory={{inst_dir}}/api
Environment="HTS_S3CFG_FILE={{inst_dir}}/s3cfg"

RuntimeDirectory=hts-credentials
PIDFile=/run/hts-credentials/credentials.pid

ExecStart=/bin/bash /usr/local/sbin/hts_credentials.sh
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
